body { padding: 1rem; }
div + h3, input + h3, label + h3, p + h3 { padding-top: 2rem; clear: both; }
div input { width: 3rem; }
label { display: block; }
.artifact { border: solid 1px black; padding: 1rem; width: 300px; float: left; }
.artifact label { display: inline-block; margin: 0; }
