body { padding: 1rem; }
table + h3, input + h3, label + h3, p + h3 { padding-top: 2rem; }
table input { width: 3rem; }
table td { border: solid 1px black; padding: .5rem; }
.accounting { text-align: right; }
label { display: block; }
